<app-navbar></app-navbar>

<p class="fs-2 ms-5" style="margin-top: -70px; margin-bottom: 22px;">Bienvenido usuario <b class="text-primary">{{nombreUsuario}}</b></p>

<!--  Formulario -->
<div class="container">
    <h2>Pacientes Registrados</h2>
    <hr>
    <br>
    <div class="contenido">
        <div class="left">
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 1}" (click)="mostrarTabla(1)">I. Datos Sociodemográficos de la Paciente</button><br>
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 2}" (click)="mostrarTabla(2)">II. Datos Clínicos de la Paciente</button><br>
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 3}" (click)="mostrarTabla(3)">III. Consentimientos Informados</button><br>
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 4}" (click)="mostrarTabla(4)">IV. Criterios de Selección / Screening</button><br>
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 5}" (click)="mostrarTabla(5)">V. Exámenes Complementarios</button><br>
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 6}" (click)="mostrarTabla(6)">VI. Tratamiento Oncológico</button><br>
            <button class="btn btn-primary" [ngClass]="{'active': isButtonSelected === 7}" (click)="mostrarTabla(7)">VII. Ciclos de Tratamiento Quimioterápico</button>
        </div>
        <div class="right">
            <!-- Tabla Formulario 1 -->
            <div *ngIf="tablaVisible === 1">
                <h3>I. Datos Sociodemográficos de la Paciente</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Datos_Sociodemograficos')" [disabled]="!hasData('Datos_Sociodemograficos')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Datos_Sociodemograficos">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Tipo de documento</th>
                                <th scope="col">Número de documento</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Email</th>
                                <th scope="col">Fecha de nacimiento</th>
                                <th scope="col">Edad de la paciente</th>
                                <th scope="col">Ciudad donde reside</th>
                                <th scope="col">Centro o institucion de atención</th>
                                <th scope="col">Estado Civil</th>
                                <th scope="col">Tipo de parto al nacer</th>
                                <th scope="col">Número de Hijos</th>
                                <th scope="col">Número de gestaciones o embarazos</th>
                                <th scope="col">Lactancia</th>
                                <th scope="col">Tiempo de lactancia</th>
                                <th scope="col">Uso de anticonceptivos</th>
                                <th scope="col">Tiempo de uso de anticonceptivos</th>
                                <th scope="col">Antecedente familiar de cáncer</th>
                                <th scope="col">Antecedente familiar de cáncer de mama</th>
                                <th scope="col">Trabaja</th>
                                <th scope="col">Ocupación</th>
                                <th scope="col">Nivel educativo</th>
                                <th scope="col">Raza o grupo étnico (ENAHO-2017)</th>
                                <th scope="col">Peso</th>
                                <th scope="col">Talla</th>
                                <th scope="col">Cintura Abdominal</th>
                                <th scope="col">Frecuencia cardiaca</th>
                                <th scope="col">Frecuencia respiratoria</th>
                                <th scope="col">Presión arterial (Signos vitales)</th>
                                <th scope="col">Temperatura</th>
                                <th scope="col">Antecedente de patologías crónicas</th>
                                <th scope="col">Hábito de fumar</th>
                                <th scope="col">¿Cuántos cigarrillos por día?</th>
                                <th scope="col">Tiempo de fumar</th>
                                <th scope="col">Horas promedio de suelo por día</th>
                                <th scope="col">Obesidad abdominal</th>
                                <th scope="col">triglicedidos</th>
                                <th scope="col">Colesterol</th>
                                <th scope="col">Presion arterial (Síndrome metabólico)</th>
                                <th scope="col">Glucosa</th>
                                <th scope="col">Medicamento 01</th>
                                <th scope="col">Medicamento 02</th>
                                <th scope="col">Medicamento 03</th>
                                <th scope="col">Medicamento 04</th>
                                <th scope="col">Uso antibióticos ultimos 03 o 06 meses</th>
                                <th scope="col">¿Cuál?</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="pacientes.length > 0">
                            <tr *ngFor="let paciente of pacientes | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{paciente.iniciales_paciente}}</td>
                                <td>{{paciente.numero_hc}}</td>
                                <td>{{paciente.tipo_documento}}</td>
                                <td>{{paciente.numero_documento}}</td>
                                <td>{{paciente.celular}}</td>
                                <td>{{paciente.email}}</td>
                                <td>{{paciente.fecha_nacimiento}}</td>
                                <td>{{paciente.edad_paciente}}</td>
                                <td>{{paciente.ciudad_reside}}</td>
                                <td>{{paciente.centro_institucion_atencion}}</td>
                                <td>{{paciente.estado_civil}}</td>
                                <td>{{paciente.tipo_parto_nacer}}</td>
                                <td>{{paciente.numero_hijos}}</td>
                                <td>{{paciente.numero_gestaciones_embarazos}}</td>
                                <td>{{paciente.lactancia}}</td>
                                <td>{{paciente.tiempo_lactancia}}</td>
                                <td>{{paciente.uso_anticonceptivos}}</td>
                                <td>{{paciente.tiempo_uso_anticonceptivos}}</td>
                                <td>{{paciente.antecedente_familiar_cancer}}</td>
                                <td>{{paciente.antecedente_familiar_cancer_mama}}</td>
                                <td>{{paciente.trabaja}}</td>
                                <td>{{paciente.ocupacion}}</td>
                                <td>{{paciente.nivel_educativo}}</td>
                                <td>{{paciente.raza_grupo_etnico}}</td>
                                <td>{{paciente.peso}}</td>
                                <td>{{paciente.talla}}</td>
                                <td>{{paciente.cintura_abdominal}}</td>
                                <td>{{paciente.frecuencia_cardiaca}}</td>
                                <td>{{paciente.frecuencia_respiratoria}}</td>
                                <td>{{paciente.signos_vitales_presion_arterial}}</td>
                                <td>{{paciente.temperatura}}</td>
                                <td>{{paciente.antecedentes_patologias_cronicas}}</td>
                                <td>{{paciente.habito_fumar}}</td>
                                <td>{{paciente.cigarrillos_por_dia}}</td>
                                <td>{{paciente.tiempo_fumar}}</td>
                                <td>{{paciente.horas_sueno_por_dia}}</td>
                                <td>{{paciente.obesidad_abdominal}}</td>
                                <td>{{paciente.trigliceridos}}</td>
                                <td>{{paciente.colesterol}}</td>
                                <td>{{paciente.sindrome_metabolico_presion_arterial}}</td>
                                <td>{{paciente.glucosa}}</td>
                                <td>{{paciente.medicamento_1}}</td>
                                <td>{{paciente.medicamento_2}}</td>
                                <td>{{paciente.medicamento_3}}</td>
                                <td>{{paciente.medicamento_4}}</td>
                                <td>{{paciente.uso_antibioticos_ultimos_meses}}</td>
                                <td>{{paciente.antibioticos}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario1/usuario', idUsuario, 'editar', 'paciente', paciente._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="pacientes.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 1 -->

            <!-- Tabla Formulario 2 -->
            <div *ngIf="tablaVisible === 2">
                <h3>II. Datos Clínicos de la Paciente</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Datos_Clinicos')" [disabled]="!hasData('Datos_Clinicos')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Datos_Clinicos">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Centro o institución de atención</th>
                                <th scope="col">Signos o síntomas de inicio</th>
                                <th scope="col">Fecha de inicio de síntomas o signos</th>
                                <th scope="col">Tiempo en meses hasta el diagnóstico</th>
                                <th scope="col">Tamaño del tumor</th>
                                <th scope="col">Ganglios axilares presentes</th>
                                <th scope="col">Tipo histológico</th>
                                <th scope="col">Conclusión del informe</th>
                                <th scope="col">Clasificación molecular</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datosf2.length > 0">
                            <tr *ngFor="let pacientef2 of datosf2 | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{pacientef2.iniciales_paciente}}</td>
                                <td>{{pacientef2.numero_hc}}</td>
                                <td>{{pacientef2.centro_institucion_atencion}}</td>
                                <td>{{pacientef2.signos_sintomas_inicio}}</td>
                                <td>{{pacientef2.fecha_inicio_sintomas_signos}}</td>
                                <td>{{pacientef2.tiempo_meses_diagnostico}}</td>
                                <td>{{pacientef2.tamano_tumor_campo1}}mm x {{pacientef2.tamano_tumor_campo2}}mm</td>
                                <td>{{pacientef2.ganglios_axilares}}</td>
                                <td>{{pacientef2.tipo_histologico}}</td>
                                <td>{{pacientef2.conclusion_informe}}</td>
                                <td>{{pacientef2.clasificacion_molecular}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario2/usuario', idUsuario, 'editar', 'paciente', pacientef2._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="datosf2.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 2 -->

            <!-- Tabla Formulario 3 -->
            <div *ngIf="tablaVisible === 3">
                <h3>III. Consentimientos Informados</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Consentimientos_Informados')" [disabled]="!hasData('Consentimientos_Informados')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Consentimientos_Informados">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Centro o institución de atención</th>
                                <th scope="col">¿Cuenta con consentimiento informado?</th>
                                <th scope="col">Fecha de consentimiento informado</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datosf3.length > 0">
                            <tr *ngFor="let pacientef3 of datosf3 | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{pacientef3.iniciales_paciente}}</td>
                                <td>{{pacientef3.numero_hc}}</td>
                                <td>{{pacientef3.centro_institucion_atencion}}</td>
                                <td>{{pacientef3.cuenta_consentimiento_informado}}</td>
                                <td>{{pacientef3.fecha_consentimiento_informado}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario3/usuario', idUsuario, 'editar', 'paciente', pacientef3._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="datosf3.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 3 -->

            <!-- Tabla Formulario 4 -->
            <div *ngIf="tablaVisible === 4">
                <h3>IV. Criterios de Selección / Screening</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Screening')" [disabled]="!hasData('Screening')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Screening">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Centro o institución de atención</th>
                                <th scope="col">Criterio de inclusión 1</th>
                                <th scope="col">Criterio de inclusión 2</th>
                                <th scope="col">Criterio de inclusión 3</th>
                                <th scope="col">Criterio de inclusión 4</th>
                                <th scope="col">Criterio de inclusión 5</th>
                                <th scope="col">Criterio de inclusión 6</th>
                                <th scope="col">Criterio de inclusión 7</th>
                                <th scope="col">Criterio de exclusión 1</th>
                                <th scope="col">Criterio de exclusión 2</th>
                                <th scope="col">Criterio de exclusión 3</th>
                                <th scope="col">Criterio de exclusión 4</th>
                                <th scope="col">Criterio de exclusión 5</th>
                                <th scope="col">Criterio de exclusión 6</th>
                                <th scope="col">Cumple criterios de elegibilidad</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datosf4.length > 0">
                            <tr *ngFor="let pacientef4 of datosf4 | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{pacientef4.iniciales_paciente}}</td>
                                <td>{{pacientef4.numero_hc}}</td>
                                <td>{{pacientef4.centro_institucion_atencion}}</td>
                                <td>{{pacientef4.criterios_inclusion_1}}</td>
                                <td>{{pacientef4.criterios_inclusion_2}}</td>
                                <td>{{pacientef4.criterios_inclusion_3}}</td>
                                <td>{{pacientef4.criterios_inclusion_4}}</td>
                                <td>{{pacientef4.criterios_inclusion_5}}</td>
                                <td>{{pacientef4.criterios_inclusion_6}}</td>
                                <td>{{pacientef4.criterios_inclusion_7}}</td>
                                <td>{{pacientef4.criterios_exclusion_1}}</td>
                                <td>{{pacientef4.criterios_exclusion_2}}</td>
                                <td>{{pacientef4.criterios_exclusion_3}}</td>
                                <td>{{pacientef4.criterios_exclusion_4}}</td>
                                <td>{{pacientef4.criterios_exclusion_5}}</td>
                                <td>{{pacientef4.criterios_exclusion_6}}</td>
                                <td>{{pacientef4.criterios_elegibilidad_estudio}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario4/usuario', idUsuario, 'editar', 'paciente', pacientef4._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="datosf4.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 4 -->

            <!-- Tabla Formulario 5 -->
            <div *ngIf="tablaVisible === 5">
                <h3>V. Exámenes Complementarios</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Examenes_Complementarios')" [disabled]="!hasData('Examenes_Complementarios')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Examenes_Complementarios">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Centro o institución de atención</th>
                                <th scope="col">Resultados del hemograma</th>
                                <th scope="col">Fecha del hemograma</th>
                                <th scope="col">Resultados de otros estudios</th>
                                <th scope="col">Fecha de otros estudios</th>
                                <th scope="col">Fecha de muestra de marcadores inflamatorios pretratamiento (séricos)</th>
                                <th scope="col">Código de muestra de marcadores inflamatorios pretratamiento (séricos)</th>
                                <th scope="col">Fecha de muestra del tumor</th>
                                <th scope="col">Fecha del microbioma intestinal</th>
                                <th scope="col">Fecha del microbioma salival</th>
                                <th scope="col">Ecografía</th>
                                <th scope="col">Mamografía</th>
                                <th scope="col">Gamagrafía ósea</th>
                                <th scope="col">Tomografía</th>
                                <th scope="col">RMN</th>
                                <th scope="col">PET</th>
                                <th scope="col">Tumor</th>
                                <th scope="col">Nódulo</th>
                                <th scope="col">Metástasis</th>
                                <th scope="col">Estadificación del paciente</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datosf5.length > 0">
                            <tr *ngFor="let pacientef5 of datosf5 | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{pacientef5.iniciales_paciente}}</td>
                                <td>{{pacientef5.numero_hc}}</td>
                                <td>{{pacientef5.centro_institucion_atencion}}</td>
                                <td>{{pacientef5.resultados_hemograma}}</td>
                                <td>{{pacientef5.fecha_hemograma}}</td>
                                <td>{{pacientef5.resultados_otros_estudios}}</td>
                                <td>{{pacientef5.fecha_otros_estudios}}</td>
                                <td>{{pacientef5.fecha_muestra_marcadores_inflamatorios_pretratamiento_sericos}}</td>
                                <td>{{pacientef5.codigo_muestra_marcadores_inflamatorios_pretratamiento_sericos}}</td>
                                <td>{{pacientef5.fecha_muestra_tumor}}</td>
                                <td>{{pacientef5.fecha_microbioma_intestinal}}</td>
                                <td>{{pacientef5.fecha_microbioma_salival}}</td>
                                <td>{{pacientef5.ecografia}}</td>
                                <td>{{pacientef5.mamografia}}</td>
                                <td>{{pacientef5.gamagrafia_osea}}</td>
                                <td>{{pacientef5.tomografia}}</td>
                                <td>{{pacientef5.rmn}}</td>
                                <td>{{pacientef5.pet}}</td>
                                <td>{{pacientef5.tumor}}</td>
                                <td>{{pacientef5.nodulo}}</td>
                                <td>{{pacientef5.metastasis}}</td>
                                <td>{{pacientef5.estadificacion_paciente}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario5/usuario', idUsuario, 'editar', 'paciente', pacientef5._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="datosf5.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 5 -->

            <!-- Tabla Formulario 6 -->
            <div *ngIf="tablaVisible === 6">
                <h3>VI. Tratamiento Oncológico</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Tratamiento_Oncologico')" [disabled]="!hasData('Tratamiento_Oncologico')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Tratamiento_Oncologico">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Centro o institución de atención</th>
                                <th scope="col">Cirugía</th>
                                <th scope="col">Tipo de cirugía</th>
                                <th scope="col">Fecha de procedimiento</th>
                                <th scope="col">Recibió radioterápia</th>
                                <th scope="col">Fecha inicio</th>
                                <th scope="col">Fecha terminó</th>
                                <th scope="col">Recibió hormonoterápia</th>
                                <th scope="col">Fecha inicio</th>
                                <th scope="col">Fecha terminó</th>
                                <th scope="col">Recibió quimioterápia</th>
                                <th scope="col">Fecha inicio</th>
                                <th scope="col">Fecha terminó</th>
                                <th scope="col">Medicación del paciente que toma o recibe</th>
                                <th scope="col">Medicación del paciente que toma o recibe (Otros)</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datosf6.length > 0">
                            <tr *ngFor="let pacientef6 of datosf6 | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{pacientef6.iniciales_paciente}}</td>
                                <td>{{pacientef6.numero_hc}}</td>
                                <td>{{pacientef6.centro_institucion_atencion}}</td>
                                <td>{{pacientef6.cirugia}}</td>
                                <td>{{pacientef6.tipo_cirugia}}</td>
                                <td>{{pacientef6.fecha_procedimiento}}</td>
                                <td>{{pacientef6.recibio_radioterapia}}</td>
                                <td>{{pacientef6.fecha_inicio_recibio_radioterapia}}</td>
                                <td>{{pacientef6.fecha_termino_recibio_radioterapia}}</td>
                                <td>{{pacientef6.recibio_hormonoterapia}}</td>
                                <td>{{pacientef6.fecha_inicio_recibio_hormonoterapia}}</td>
                                <td>{{pacientef6.fecha_termino_recibio_hormonoterapia}}</td>
                                <td>{{pacientef6.recibio_quimioterapia}}</td>
                                <td>{{pacientef6.fecha_inicio_recibio_quimioterapia}}</td>
                                <td>{{pacientef6.fecha_termino_recibio_quimioterapia}}</td>
                                <td>{{pacientef6.detallar_medicacion_paciente_toma_recibe}}</td>
                                <td>{{pacientef6.detallar_medicacion_paciente_toma_recibe_otros}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario6/usuario', idUsuario, 'editar', 'paciente', pacientef6._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="datosf6.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 6 -->

            <!-- Tabla Formulario 7 -->
            <div *ngIf="tablaVisible === 7">
                <h3>VII. Ciclos de Tratamiento Quimioterápico</h3>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="input-group my-3 w-50">
                        <input type="text" class="form-control form-control-lg" placeholder="Buscar paciente por numero de hc..." name="filterPaciente" [(ngModel)]="filterPaciente">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                    <button class="btn btn-success d-flex align-items-center" *ngIf="isAdmin" (click)="exportExcelForm('Tratamiento_Quimioterapico')" [disabled]="!hasData('Tratamiento_Quimioterapico')"><i class="fa-solid fa-file-excel fs-4 me-2"></i>Exportar a Excel</button>
                </div>
                <div class="table-wrapper">
                    <table id="Tratamiento_Quimioterapico">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Iniciales de la paciente</th>
                                <th scope="col">Número de HC</th>
                                <th scope="col">Centro o institución de atención</th>
                                <th scope="col">Tratamiento con medicamento y dosis 1</th>
                                <th scope="col">Tratamiento con medicamento y dosis 2</th>
                                <th scope="col">Tratamiento con medicamento y dosis 3</th>
                                <th scope="col">Tratamiento con medicamento y dosis 4</th>
                                <th scope="col">Tratamiento con medicamento y dosis 5</th>
                                <th scope="col">Tratamiento con medicamento y dosis 6</th>
                                <th scope="col">Tratamiento con medicamento y dosis 7</th>
                                <th scope="col">Tratamiento con medicamento y dosis 8</th>
                                <th scope="col">Tratamiento con medicamento y dosis 9</th>
                                <th scope="col">Tratamiento con medicamento y dosis 10</th>
                                <th scope="col">Fecha de tratamiento</th>
                                <th scope="col">Ciclo</th>
                                <th scope="col">Tolerancia</th>
                                <th scope="col">Evaluación de respuesta al tratamiento</th>
                                <th scope="col" class="fixed-column-th" *ngIf="isAdmin">Acción</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datosf7.length > 0">
                            <tr *ngFor="let pacientef7 of datosf7 | filter: filterPaciente; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{pacientef7.iniciales_paciente}}</td>
                                <td>{{pacientef7.numero_hc}}</td>
                                <td>{{pacientef7.centro_institucion_atencion}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_1}} => {{pacientef7.tratamiento_dosis_1}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_2}} => {{pacientef7.tratamiento_dosis_2}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_3}} => {{pacientef7.tratamiento_dosis_3}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_4}} => {{pacientef7.tratamiento_dosis_4}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_5}} => {{pacientef7.tratamiento_dosis_5}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_6}} => {{pacientef7.tratamiento_dosis_6}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_7}} => {{pacientef7.tratamiento_dosis_7}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_8}} => {{pacientef7.tratamiento_dosis_8}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_9}} => {{pacientef7.tratamiento_dosis_9}}</td>
                                <td>{{pacientef7.tratamiento_medicamento_10}} => {{pacientef7.tratamiento_dosis_10}}</td>
                                <td>{{pacientef7.fecha_tratamiento}}</td>
                                <td>{{pacientef7.ciclo}}</td>
                                <td>{{pacientef7.tolerancia}}</td>
                                <td>{{pacientef7.evaluacion_respuesta_tratamiento}}</td>
                                <td class="fixed-column-td" *ngIf="isAdmin">
                                    <button class="btn btn-warning" [routerLink]="['/formulario7/usuario', idUsuario, 'editar', 'paciente', pacientef7._id]">Editar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px" *ngIf="datosf7.length == 0">
                        No hay pacientes registrados
                    </h5>
                </div>
            </div>
            <!-- Tabla Formulario 7 -->
        </div>
    </div>
    <br>
    <button type="submit" class="button" routerLink="/">Volver al menú de navegación</button>
</div>
<!--  Formulario -->-