<!-- NavBar -->
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
      <div class="container-fluid">
          <a class="navbar-brand d-flex align-items-center" routerLink="/">
              <img src="../../../assets/img/logo_inicib.png" width="100" alt="">
              <!-- <img src="./img/letras_inicib.png" width="300" alt=""> -->
              <h1 class="ms-4 mb-0 fs-2 fw-medium letras">
                  INSTITUTO DE INVESTIGACIONES EN CIENCIAS BIOMÉDICAS <br>
                  UNIVERSIDAD RICARDO PALMA
              </h1>
          </a>
          <!-- Menu -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Menu -->

          <!-- <div class="collapse navbar-collapse" id="navbarText"> -->
              <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Pricing</a>
                  </li>
              </ul> -->
              <div>
                  <h1 class="mb-0 fs-2 fw-medium text-end letras">
                      CONCYTEC - PROCIENCIA <br>
                      PROYECTO: EPIC-MAMA 2023-001
                  </h1>
                  <a href="https://www.urp.edu.pe/pregrado/facultad-de-medicina-humana/inicib/" target="_blank">https://www.urp.edu.pe/pregrado/facultad-de-medicina-humana/inicib/</a>
              </div>

              <!-- <span class="navbar-text">
                  Navbar text with an inline element
              </span> -->
          <!-- </div> -->
      </div>
  </nav>
</div>
<!-- NavBar -->

<router-outlet></router-outlet>
