<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Container -->
<div>
    <!-- Header -->
    <div class="container-xl">
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">PROTOCOLO:</b> PERFIL INFLAMATORIO EN PACIENTES CON CÁNCER DE MAMA Y SU ASOCIACIÓN CON EL VALOR PRONÓSTICO DE LA ENFERMERDAD</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">FORMATO N° 004:</b> CRITERIOS DE SELECCIÓN / SCREENING</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">VERSIÓN:</b> 001</h5>
        </div>
        <br>
        <hr>
    </div>
    <!-- Header -->

    <br>

    <!-- Formulario -->
    <div class="container-xl" style="margin-bottom: 200px;">

        <form class="w-75 m-auto mb-5">
            <h3>DATOS DE IDENTIFICACIÓN</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-4">
                    <div class="group-input d-flex">
                        <input type="text" class="input" [(ngModel)]="datos.iniciales_paciente" name="iniciales_paciente" required>
                        <label for="" class="label">Iniciales de la paciente</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" [(ngModel)]="datos.numero_hc" name="numero_hc" required>
                        <label for="" class="label">Número de HC</label>
                    </div>
                </div>

                <h3 class="mb-3">Centro o Institución de atención</h3>
                <div class="d-flex justify-content-between mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_lima" value="INEN LIMA" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer;">
                        <label class="form-check-label" for="centro_institucion_atencion_inen_lima" style="cursor: pointer;">INEN LIMA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_arequipa" value="INEN AREQUIPA" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer;">
                        <label class="form-check-label" for="centro_institucion_atencion_inen_arequipa" style="cursor: pointer;">INEN AREQUIPA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_trujillo" value="INEN TRUJILLO" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer;">
                        <label class="form-check-label" for="centro_institucion_atencion_inen_trujillo" style="cursor: pointer;">INEN TRUJILLO</label>
                    </div>
                </div>
            </div>

            <!-- CRITERIOS DE INCLUSIÓN -->
            <table>
                <thead>
                    <tr>
                        <th>CRITERIOS DE INCLUSIÓN</th>
                        <th style="text-align: center;">SI</th>
                        <th style="text-align: center;">NO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. PACIENTE MAYOR DE 18 AÑOS DE EDAD.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_1" id="criterios_inclusion_1_si" value="SI" [(ngModel)]="datos.criterios_inclusion_1" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_1" id="criterios_inclusion_1_no" value="NO" [(ngModel)]="datos.criterios_inclusion_1" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2. PACIENTE CON DIAGNÓSTICO DE CÁNCER DE MAMA CONFIRMADO PATOLÓGICAMENTE.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_2" id="criterios_inclusion_2_si" value="SI" [(ngModel)]="datos.criterios_inclusion_2" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_2" id="criterios_inclusion_2_no" value="NO" [(ngModel)]="datos.criterios_inclusion_2" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3. PACIENTE CON ESTADO II O III DE CÁNCER DE MAMA.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_3" id="criterios_inclusion_3_si" value="SI" [(ngModel)]="datos.criterios_inclusion_3" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_3" id="criterios_inclusion_3_no" value="NO" [(ngModel)]="datos.criterios_inclusion_3" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4. PACIENTE CON DIAGNÓSTICO CONFIRMADO POR BIOPSIA O PROCEDIMIENTO QUIRÚRGICO QUE SUBSECUENTEMENTE SE ENCUENTREN EN CONDICIONES DE PRECIBIR TRATAMIENTOS ONCOLÓGICOS CON QUIMIOTERAPIA ESTÁNDAR.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_4" id="criterios_inclusion_4_si" value="SI" [(ngModel)]="datos.criterios_inclusion_4" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_4" id="criterios_inclusion_4_no" value="NO" [(ngModel)]="datos.criterios_inclusion_4" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5. PACIENTE QUE MUESTRE COMPROMISO PARA EL SEGUIMIENTO EN LOS CENTROS DE ESTUDIO.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_5" id="criterios_inclusion_5_si" value="SI" [(ngModel)]="datos.criterios_inclusion_5" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_5" id="criterios_inclusion_5_no" value="NO" [(ngModel)]="datos.criterios_inclusion_5" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6. PACIENTE QUE ACEPTA PARTICIPAR EN EL ESTUDIO Y FIRMÓ EL DOCUMENTO DE CONSENTIMIENTO INFORMADO.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_6" id="criterios_inclusion_6_si" value="SI" [(ngModel)]="datos.criterios_inclusion_6" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_6" id="criterios_inclusion_6_no" value="NO" [(ngModel)]="datos.criterios_inclusion_6" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7. PACIENTE CON CLASIFICACIÓN MOLECULAR TRIPLE NEGATIVO O LUMINAL O HER2 POSITIVO DE CÁNCER DE MAMA.</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_7" id="criterios_inclusion_7_si" value="SI" [(ngModel)]="datos.criterios_inclusion_7" style="cursor: pointer;">
                            </div>
                        </td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_inclusion_7" id="criterios_inclusion_7_no" value="NO" [(ngModel)]="datos.criterios_inclusion_7" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- CRITERIOS DE INCLUSIÓN -->

            <!-- CRITERIOS DE EXCLUSIÓN -->
            <table>
                <thead>
                    <tr>
                        <th>CRITERIOS DE EXCLUSIÓN</th>
                        <th style="text-align: center;">SI</th>
                        <th style="text-align: center;">NO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. PACIENTE GESTANTE.</td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_1" id="criterios_exclusion_1_si" value="SI" [(ngModel)]="datos.criterios_exclusion_1" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_1" id="criterios_exclusion_1_no" value="NO" [(ngModel)]="datos.criterios_exclusion_1" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2. PACIENTE CON CÁNCER DE MAMA TIPO INFLAMATORIO.</td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_2" id="criterios_exclusion_2_si" value="SI" [(ngModel)]="datos.criterios_exclusion_2" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_2" id="criterios_exclusion_2_no" value="NO" [(ngModel)]="datos.criterios_exclusion_2" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3. PACIENTE CON QUIMIOTERAPIA O TRATAMIENTO PREVIO DESCONOCIDO O QUIMIOTERAPIA NEOADYUVANTE.</td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_3" id="criterios_exclusion_3_si" value="SI" [(ngModel)]="datos.criterios_exclusion_3" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_3" id="criterios_exclusion_3_no" value="NO" [(ngModel)]="datos.criterios_exclusion_3" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4. PACIENTE QUE RECIBE TRATAMIENTO CON CORTICOIDES POR MÁS DE 6 MESES O TERAPIA INMUNOSUPRESORA.</td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_4" id="criterios_exclusion_4_si" value="SI" [(ngModel)]="datos.criterios_exclusion_4" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_4" id="criterios_exclusion_4_no" value="NO" [(ngModel)]="datos.criterios_exclusion_4" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5. PACIENTE CON ENFERMEDADES CRÓNICAS PREVIAMENTE REPORTADAS QUE PUEDAN AFECTAR EL ESTUDIO DE ACUERDO A CRITERIO DEL MÉDICO TRATANTE.</td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_5" id="criterios_exclusion_5_si" value="SI" [(ngModel)]="datos.criterios_exclusion_5" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_5" id="criterios_exclusion_5_no" value="NO" [(ngModel)]="datos.criterios_exclusion_5" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6. PACIENTE QUE NO ACEPTE FIRMAR EL CONSENTIMIENTO INFORMADO.</td>
                        <td style="background-color: #FFCDFA;">
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_6" id="criterios_exclusion_6_si" value="SI" [(ngModel)]="datos.criterios_exclusion_6" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_exclusion_6" id="criterios_exclusion_6_no" value="NO" [(ngModel)]="datos.criterios_exclusion_6" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- CRITERIOS DE EXCLUSIÓN -->

            <div class="d-flex align-items-center gap-2 mb-5">
                <div style="width: 50px; height: 30px; background: #FFCDFA; border-radius: 4px;"></div>
                <span>* En caso de que el criterio se encuentre coloreado, evaluar la participación de la paciente en el estudio.</span>
            </div>

            <!-- CRITERIOS DE ELEGIBILIDAD -->
            <h5>REUNE LOS CRITERIOS DE ELEGIBILIDAD PARA EL ESTUDIO</h5>
            <table class="w-100">
                <thead>
                    <tr>
                        <th class="w-100"></th>
                        <th style="text-align: center;">SI</th>
                        <th style="text-align: center;">NO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-100">CUMPLE CRITERIOS DE ELEGIBILIDAD</td>
                        <td>
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_elegibilidad_estudio" id="criterios_elegibilidad_estudio_si" value="SI" [(ngModel)]="datos.criterios_elegibilidad_estudio" style="cursor: pointer;">
                            </div>
                        </td>
                        <td >
                            <div class="form-check form-check-inline m-0">
                                <input class="form-check-input" type="radio" name="criterios_elegibilidad_estudio" id="criterios_elegibilidad_estudio_no" value="NO" [(ngModel)]="datos.criterios_elegibilidad_estudio" style="cursor: pointer;">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- CRITERIOS DE ELEGIBILIDAD -->

            <!-- Boton -->
            <div class="d-flex justify-content-end">
                <button type="submit" (click)="registrarForm4()">Registrar y Siguiente: Exámenes Complementarios</button>
            </div>
            <!-- Boton -->
        </form>

        <!-- Seccion: Llenado por el PL -->
        <div class="container-xl">
            <hr>
            <br>
            <form class="row g-3 m-auto border px-5 py-3 bg-white">
                <div class="col-6">
                    <p>Firma:</p>
                </div>
                <div class="col-6">
                    <p>Fecha:</p>
                </div>
                <div class="col-12">
                    <p>Nombre:</p>
                </div>
                <div class="col-12">
                    <b><i><p>**Nota: Se recomienda que sea llenado por el PL.</p></i></b>
                </div>
            </form>
        </div>
        <!-- Seccion: Llenado por el PL -->

    </div>
    <!-- Formulario -->

    <!-- 0099ff a2d9ff A2F0FF-->

    <!-- Footer -->
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- Container -->