<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <!-- Container -->
    <div>
        <!-- Header -->
        <div class="container-xl">
            <div class="border p-3 bg-white">
                <h5 style="font-weight: 350;"><b style="font-weight: 500;">PROTOCOLO:</b> PERFIL INFLAMATORIO EN PACIENTES CON CÁNCER DE MAMA Y SU ASOCIACIÓN CON EL VALOR PRONÓSTICO DE LA ENFERMERDAD</h5>
            </div>
            <div class="border p-3 bg-white">
                <h5 style="font-weight: 350;"><b style="font-weight: 500;">FORMATO N° 006:</b> TRATAMIENTO ONCOLÓGICO</h5>
            </div>
            <div class="border p-3 bg-white">
                <h5 style="font-weight: 350;"><b style="font-weight: 500;">VERSIÓN:</b> 001</h5>
            </div>
            <br>
            <hr>
        </div>
        <!-- Header -->

        <br>

        <!-- Formulario -->
        <div class="container-xl" style="margin-bottom: 200px;">

            <form class="w-75 m-auto mb-5">
                <h3>DATOS DE IDENTIFICACIÓN</h3>
                <div class="col mb-4">
                    <div class="d-flex align-items-center gap-4">
                        <div class="group-input d-flex">
                            <input type="text" class="input" required>
                            <label for="" class="label">Iniciales de la paciente</label>
                        </div>
                        <div class="group-input d-flex">
                            <input type="text" class="input" required>
                            <label for="" class="label">Número de HC</label>
                        </div>
                    </div>

                    <h3 class="mb-3">Centro o Institución de atención</h3>
                    <div class="d-flex justify-content-between mb-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="institucion" id="inen_lima" value="option1" style="cursor: pointer;">
                            <label class="form-check-label" for="inen_lima" style="cursor: pointer;">INEN LIMA</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="institucion" id="inen_arequipa" value="option2" style="cursor: pointer;">
                            <label class="form-check-label" for="inen_arequipa" style="cursor: pointer;">INEN AREQUIPA</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="institucion" id="inen_trujillo" value="option1" style="cursor: pointer;">
                            <label class="form-check-label" for="inen_trujillo" style="cursor: pointer;">INEN TRUJILLO</label>
                        </div>
                    </div>
                </div>

                <h3 class="mb-4">TRATAMIENTOS:</h3>
                <div class="col mb-4">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <label for="startDate">1. CIRUGÍA:</label>
                        <div class="d-flex justify-content-between">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cirugia" id="cirugia_si" value="option1" style="cursor: pointer;">
                                <label class="form-check-label" for="cirugia_si" style="cursor: pointer;">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="cirugia" id="cirugia_no" value="option2" style="cursor: pointer;">
                                <label class="form-check-label" for="cirugia_no" style="cursor: pointer;">No</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">2. TIPO DE CIRUGÍA:</label>
                            <div class="d-flex justify-content-between w-75">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="biopsia">
                                    <label class="form-check-label" for="biopsia">
                                        Biopsia
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="cuadrantectomia">
                                    <label class="form-check-label" for="cuadrantectomia">
                                        Cuadrantectomía
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="mastectomia">
                                    <label class="form-check-label" for="mastectomia">
                                        Mastectomía
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="ms-5">
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">a. FECHA DE PROCEDIMIENTO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">3. RECIBIÓ RADIOTERAPIA:</label>
                            <div class="d-flex justify-content-between">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioterapia" id="radioterapia_si" value="option1" style="cursor: pointer;">
                                    <label class="form-check-label" for="radioterapia_si" style="cursor: pointer;">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radioterapia" id="radioterapia_no" value="option2" style="cursor: pointer;">
                                    <label class="form-check-label" for="radioterapia_no" style="cursor: pointer;">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="ms-5">
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">a. FECHA DE INICIO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">b. FECHA DE TERMINO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">4. RECIBIÓ HORMONOTERAPIA:</label>
                            <div class="d-flex justify-content-between">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="hormonoterapia" id="hormonoterapia_si" value="option1" style="cursor: pointer;">
                                    <label class="form-check-label" for="hormonoterapia_si" style="cursor: pointer;">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="hormonoterapia" id="hormonoterapia_no" value="option2" style="cursor: pointer;">
                                    <label class="form-check-label" for="hormonoterapia_no" style="cursor: pointer;">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="ms-5">
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">a. FECHA DE INICIO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">b. FECHA DE TERMINO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">5. RECIBIÓ QUIMIOTERAPIA:</label>
                            <div class="d-flex justify-content-between">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="quimioterapia" id="quimioterapia_si" value="option1" style="cursor: pointer;">
                                    <label class="form-check-label" for="quimioterapia_si" style="cursor: pointer;">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="quimioterapia" id="quimioterapia_no" value="option2" style="cursor: pointer;">
                                    <label class="form-check-label" for="quimioterapia_no" style="cursor: pointer;">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="ms-5">
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">a. FECHA DE INICIO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                            <div class="d-flex align-items-center gap-3 mb-3">
                                <label for="startDate">b. FECHA DE TERMINO:</label>
                                <input type="date" class="form-control py-3 w-25" id="startDate">
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-flex flex-column">
                        <label for="startDate" class="mb-3">6. DETALLAR CADA MEDICACIÓN QUE LA PACIENTE TOMA O RECIBE:</label>
                        <div class="d-flex justify-content-between mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="aines">
                                <label class="form-check-label" for="aines">
                                    AINES
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="corticoides">
                                <label class="form-check-label" for="corticoides">
                                    CORTICOIDES
                                </label>
                            </div>
                        </div>
                        <div class="group-textarea d-flex">
                            <!-- <input type="text" class="input" required> -->
                            <textarea name="" id="signos_vitales" cols="30" rows="7" class="textarea" required></textarea>
                            <label for="signos_vitales" class="label_textarea">OTROS</label>
                        </div>
                    </div>
                </div>
                <!-- Boton -->
                <div class="d-flex justify-content-end">
                    <button type="submit">Siguiente: Ciclos de Tratamiento Quiropráctico</button>
                </div>
                <!-- Boton -->
            </form>

            <!-- Seccion: Llenado por el PL -->
            <div class="container-xl">
                <hr>
                <br>
                <form class="row g-3 m-auto border px-5 py-3 bg-white">
                    <div class="col-6">
                        <p>Firma:</p>
                    </div>
                    <div class="col-6">
                        <p>Fecha:</p>
                    </div>
                    <div class="col-12">
                        <p>Nombre:</p>
                    </div>
                    <div class="col-12">
                        <b><i><p>**Nota: Se recomienda que sea llenado por el PL.</p></i></b>
                    </div>
                </form>
            </div>
            <!-- Seccion: Llenado por el PL -->

        </div>
        <!-- Formulario -->

        <!-- 0099ff a2d9ff A2F0FF-->

        <!-- Footer -->
        <footer>
            <div class="waves">
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
            </div>
        </footer>
        <!-- Footer -->
    </div>
    <!-- Container -->