<app-navbar></app-navbar>

<!-- Container -->
<div>
    <!-- Header -->
    <div class="container-xl">
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">PROTOCOLO:</b> PERFIL INFLAMATORIO EN PACIENTES CON CÁNCER DE MAMA Y SU ASOCIACIÓN CON EL VALOR PRONÓSTICO DE LA ENFERMERDAD</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">FORMATO N° 006:</b> TRATAMIENTO ONCOLÓGICO</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">VERSIÓN:</b> 001</h5>
        </div>
        <br>
        <hr>
    </div>
    <!-- Header -->

    <br>

    <!-- Formulario -->
    <div class="container-xl" style="margin-bottom: 200px;">

        <form class="w-75 m-auto mb-5">
            <h3>DATOS DE IDENTIFICACIÓN</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-4">
                    <div class="group-input d-flex">
                        <input type="text" class="input" [(ngModel)]="datos.iniciales_paciente" name="iniciales_paciente" style="pointer-events: none;" disabled required>
                        <label for="" class="label" style="top: 25%; font-size: 12px;">Iniciales de la paciente</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" [(ngModel)]="datos.numero_hc" name="numero_hc" style="pointer-events: none;" disabled required>
                        <label for="" class="label" style="top: 25%; font-size: 12px;">Número de HC</label>
                    </div>
                </div>

                <h3 class="mb-3">Centro o Institución de atención</h3>
                <div class="d-flex justify-content-between mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_lima" value="INEN LIMA" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer; pointer-events: none;" readonly>
                        <label class="form-check-label" for="centro_institucion_atencion_inen_lima" style="cursor: pointer; pointer-events: none; user-select: none;">INEN LIMA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_arequipa" value="INEN AREQUIPA" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer; pointer-events: none;" readonly>
                        <label class="form-check-label" for="centro_institucion_atencion_inen_arequipa" style="cursor: pointer; pointer-events: none; user-select: none;">INEN AREQUIPA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_trujillo" value="INEN TRUJILLO" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer; pointer-events: none;" readonly>
                        <label class="form-check-label" for="centro_institucion_atencion_inen_trujillo" style="cursor: pointer; pointer-events: none; user-select: none;">INEN TRUJILLO</label>
                    </div>
                </div>
            </div>

            <h3 class="mb-4">TRATAMIENTOS:</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">1. CIRUGÍA:</label>
                    <div class="d-flex justify-content-between">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cirugia" id="cirugia_si" value="SI" [(ngModel)]="datos.cirugia" style="cursor: pointer;">
                            <label class="form-check-label" for="cirugia_si" style="cursor: pointer;">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cirugia" id="cirugia_no" value="NO" [(ngModel)]="datos.cirugia" style="cursor: pointer;">
                            <label class="form-check-label" for="cirugia_no" style="cursor: pointer;">No</label>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <label for="startDate">2. TIPO DE CIRUGÍA:</label>
                        <div class="d-flex justify-content-between w-75">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_cirugia" id="tipo_cirugia_biopsia" value="Biopsia" [(ngModel)]="datos.tipo_cirugia">
                                <label class="form-check-label" for="tipo_cirugia_biopsia">
                                    Biopsia
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_cirugia" id="tipo_cirugia_cuadrantectomia" value="Cuadrantectomía" [(ngModel)]="datos.tipo_cirugia">
                                <label class="form-check-label" for="tipo_cirugia_cuadrantectomia">
                                    Cuadrantectomía
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_cirugia" id="tipo_cirugia_mastectomia" value="Mastectomía" [(ngModel)]="datos.tipo_cirugia">
                                <label class="form-check-label" for="tipo_cirugia_mastectomia">
                                    Mastectomía
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ms-5">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">a. FECHA DE PROCEDIMIENTO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_procedimiento" name="fecha_procedimiento">
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <label for="startDate">3. RECIBIÓ RADIOTERAPIA:</label>
                        <div class="d-flex justify-content-between">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="recibio_radioterapia" id="recibio_radioterapia_si" value="SI" [(ngModel)]="datos.recibio_radioterapia" style="cursor: pointer;">
                                <label class="form-check-label" for="recibio_radioterapia_si" style="cursor: pointer;">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="recibio_radioterapia" id="recibio_radioterapia_si" value="NO" [(ngModel)]="datos.recibio_radioterapia" style="cursor: pointer;">
                                <label class="form-check-label" for="recibio_radioterapia_no" style="cursor: pointer;">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="ms-5">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">a. FECHA DE INICIO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_inicio_recibio_radioterapia" name="fecha_inicio_recibio_radioterapia">
                        </div>
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">b. FECHA DE TERMINO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_termino_recibio_radioterapia" name="fecha_termino_recibio_radioterapia">
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <label for="startDate">4. RECIBIÓ HORMONOTERAPIA:</label>
                        <div class="d-flex justify-content-between">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="recibio_hormonoterapia" id="recibio_hormonoterapia_si" value="SI" [(ngModel)]="datos.recibio_hormonoterapia" style="cursor: pointer;">
                                <label class="form-check-label" for="recibio_hormonoterapia_si" style="cursor: pointer;">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="recibio_hormonoterapia" id="recibio_hormonoterapia_no" value="NO" [(ngModel)]="datos.recibio_hormonoterapia" style="cursor: pointer;">
                                <label class="form-check-label" for="recibio_hormonoterapia_no" style="cursor: pointer;">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="ms-5">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">a. FECHA DE INICIO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_inicio_recibio_hormonoterapia" name="fecha_inicio_recibio_hormonoterapia">
                        </div>
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">b. FECHA DE TERMINO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_termino_recibio_hormonoterapia" name="fecha_termino_recibio_hormonoterapia">
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center gap-3 mb-3">
                        <label for="startDate">5. RECIBIÓ QUIMIOTERAPIA:</label>
                        <div class="d-flex justify-content-between">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="recibio_quimioterapia" id="recibio_quimioterapia_si" value="SI" [(ngModel)]="datos.recibio_quimioterapia" style="cursor: pointer;">
                                <label class="form-check-label" for="recibio_quimioterapia_si" style="cursor: pointer;">Sí</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="recibio_quimioterapia" id="recibio_quimioterapia_no" value="NO" [(ngModel)]="datos.recibio_quimioterapia" style="cursor: pointer;">
                                <label class="form-check-label" for="recibio_quimioterapia_no" style="cursor: pointer;">No</label>
                            </div>
                        </div>
                    </div>
                    <div class="ms-5">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">a. FECHA DE INICIO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_inicio_recibio_quimioterapia" name="fecha_inicio_recibio_quimioterapia">
                        </div>
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <label for="startDate">b. FECHA DE TERMINO:</label>
                            <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_termino_recibio_quimioterapia" name="fecha_termino_recibio_quimioterapia">
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-column">
                    <label class="mb-3">6. DETALLAR CADA MEDICACIÓN QUE LA PACIENTE TOMA O RECIBE:</label>
                    <div class="d-flex justify-content-between mb-4">
                        <div class="form-check" *ngFor="let c of detallar_medicacion_paciente_toma_recibe, let i = index">
                            <input class="form-check-input" type="checkbox" [value]="c" (click)="verificar(c)" [(ngModel)]="datos.detallar_medicacion_paciente_toma_recibe" id="detallar_medicacion_paciente_toma_recibe{{i}}">
                            <label class="form-check-label" for="detallar_medicacion_paciente_toma_recibe{{i}}">{{c}}</label>
                        </div>
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="datos.detallar_medicacion_paciente_toma_recibe" name="aines" value="Aines" id="aines">
                            <label class="form-check-label" for="aines">
                                AINES
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [(ngModel)]="datos.detallar_medicacion_paciente_toma_recibe" name="corticoides" value="Corticoides" id="corticoides">
                            <label class="form-check-label" for="corticoides">
                                CORTICOIDES
                            </label>
                        </div> -->
                    </div>
                    <div class="group-textarea d-flex">
                        <!-- <input type="text" class="input" required> -->
                        <textarea [(ngModel)]="datos.detallar_medicacion_paciente_toma_recibe_otros" name="detallar_medicacion_paciente_toma_recibe_otros" id="detallar_medicacion_paciente_toma_recibe_otros" cols="30" rows="7" class="textarea" required></textarea>
                        <label for="detallar_medicacion_paciente_toma_recibe_otros" class="label_textarea">OTROS</label>
                    </div>
                </div>
            </div>
            <!-- Boton -->
            <!-- <div class="d-flex justify-content-end">
                <button type="submit">Siguiente: Ciclos de Tratamiento Quiropráctico</button>
            </div> -->
            <!-- Boton -->
        <!-- </form> -->

        <!-- Seccion: Llenado por el PL -->
        <br>
        <hr>
        <br>
        <br>
        <div class="row g-3 m-auto border px-5 py-3 mb-5 bg-white">
            <!-- <form class="row g-3 m-auto border px-5 py-3 bg-white" enctype="multipart/form-data"> -->
                <!-- <div class="col-6">
                    <p>Firma:</p>
                </div>
                <div class="col-6">
                    <p>Fecha:</p>
                </div>
                <div class="col-12">
                    <p>Nombre:</p>
                </div> -->
                <div class="col-6 d-flex align-items-center justify-content-between mb-3">
                    <label for="startDate" class="form-label">Nombre:</label>
                    <input type="text" class="form-control py-3" id="startDate" [(ngModel)]="datos.nombre" name="nombre" style="width: 86%; pointer-events: none; user-select: none;" disabled required>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-between mb-3">
                    <label for="formFile" class="form-label">Firma:</label>
                    <input type="text" class="form-control py-3" id="startDate" [(ngModel)]="datos.firma" name="firma" style="width: 86%; pointer-events: none; user-select: none;" disabled required>
                    <!-- <input class="form-control" type="file" id="formFile" name="imagen" (change)="onSelectFile($event)" style="width: 86%;"> -->
                </div>
                <div class="col-6 d-flex align-items-center justify-content-between mb-3">
                    <label for="startDate" class="form-label">Fecha:</label>
                    <input type="date" class="form-control py-3" id="startDate" [(ngModel)]="datos.fecha" name="fecha" style="width: 86%; pointer-events: none; user-select: none;" disabled required>
                </div>
                
                <div class="col-12">
                    <b><i><p>**Nota: Se recomienda que sea llenado por el investigador principal.</p></i></b>
                </div>
            <!-- </form> -->
        </div>
        <!-- Boton -->
        <div class="d-flex justify-content-between">
            <button type="submit" (click)="regresar()">{{ esModoEdicion ? 'Cancelar' : 'Volver al menú de navegación'}}</button>
            <button type="submit" (click)="registrarForm6()">{{ esModoEdicion ? 'Actualizar' : 'Registrar y Siguiente: Ciclos de Tratamiento Quimioterápico'}}</button>
        </div>
        <!-- Boton -->
        </form>
        <!-- Seccion: Llenado por el PL -->

    </div>
    <!-- Formulario -->

    <!-- 0099ff a2d9ff A2F0FF-->

    <!-- Footer -->
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- Container -->