<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Container -->
<div>
    <!-- Header -->
    <div class="container-xl">
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">PROTOCOLO:</b> PERFIL INFLAMATORIO EN PACIENTES CON CÁNCER DE MAMA Y SU ASOCIACIÓN CON EL VALOR PRONÓSTICO DE LA ENFERMERDAD</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">FORMATO N° 005:</b> EXÁMENES COMPLEMENTARIOS</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">VERSIÓN:</b></h5>
        </div>
        <br>
        <hr>
    </div>
    <!-- Header -->

    <br>

    <!-- Formulario -->
    <div class="container-xl" style="margin-bottom: 200px;">

        <form class="w-75 m-auto mb-5">
            <h3>DATOS DE IDENTIFICACIÓN</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-4">
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Iniciales de la paciente</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Número de HC</label>
                    </div>
                </div>

                <h3 class="mb-3">Centro o Institución de atención</h3>
                <div class="d-flex justify-content-between mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="institucion" id="inen_lima" value="option1" style="cursor: pointer;">
                        <label class="form-check-label" for="inen_lima" style="cursor: pointer;">INEN LIMA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="institucion" id="inen_arequipa" value="option2" style="cursor: pointer;">
                        <label class="form-check-label" for="inen_arequipa" style="cursor: pointer;">INEN AREQUIPA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="institucion" id="inen_trujillo" value="option1" style="cursor: pointer;">
                        <label class="form-check-label" for="inen_trujillo" style="cursor: pointer;">INEN TRUJILLO</label>
                    </div>
                </div>
            </div>

            <h3 class="mb-4">I. RESULTADOS DE EXÁMENES DE LABORATORIO:</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">1. FECHA DE HEMOGRAMA BASAL:</label>
                    <input type="date" class="form-control py-3 w-25" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">2. RESULTADOS DE LA HEMOGRAMA:</label>
                    <input type="text" class="form-control py-3 w-25" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">3. FECHA DE OTROS ESTUDIOS DE LABORATORIO:</label>
                    <input type="date" class="form-control py-3 w-25" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">4. RESULTADOS DE OTROS ESTUDIOS:</label>
                    <input type="text" class="form-control py-3 w-25" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">5. FECHA DE MUESTRA PARA MARCADORES INFLAMATORIOS PRETRATAMIENTO:</label>
                    <input type="date" class="form-control py-3 w-25" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate">6. CODIGO DE MUESTRA PARA MARCADORES INFLAMATORIOS PRETRATAMIENTO:</label>
                    <input type="date" class="form-control py-3 w-25" id="startDate">
                </div>
            </div>

            <h3 class="mb-4">II. RESULTADOS DE EXAMENES DE IMAGENES:</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate" class="w-25">1. ECOGRAFIA:</label>
                    <input type="text" class="form-control py-3" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate" class="w-25">2. MAMOGRAFIA:</label>
                    <input type="text" class="form-control py-3" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate" class="w-25">3. GAMAGRAFIA OSEA:</label>
                    <input type="text" class="form-control py-3" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate" class="w-25">4. TOMOGRAFIA:</label>
                    <input type="text" class="form-control py-3" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate" class="w-25">5. RMN:</label>
                    <input type="text" class="form-control py-3" id="startDate">
                </div>
                <div class="d-flex align-items-center gap-3 mb-3">
                    <label for="startDate" class="w-25">6. PET:</label>
                    <input type="text" class="form-control py-3" id="startDate">
                </div>
            </div>
            
            <h3 class="mb-4">III. RESULTADOS DE EXAMENES DE PATOLOGIA:</h3>
            <div class="col mb-4">
                <div class="d-flex justify-content-between mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tumor">
                        <label class="form-check-label" for="tumor">
                            Tumor(T)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="nodulo">
                        <label class="form-check-label" for="nodulo">
                            Nódulo(N)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="metastasis">
                        <label class="form-check-label" for="metastasis">
                            Metástasis(M)
                        </label>
                    </div>
                </div>
            </div>

            <h3 class="mb-4">IV. ESTADIFICACION DE LA PACIENTE:</h3>
            <div class="col mb-4">

                <div class="d-flex justify-content-between mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="estadio_ii_a">
                        <label class="form-check-label" for="estadio_ii_a">
                            Estadio II A
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="estadio_ii_b">
                        <label class="form-check-label" for="estadio_ii_b">
                            Estadio II B
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="estadio_iii_a">
                        <label class="form-check-label" for="estadio_iii_a">
                            Estadio III A
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="estadio_iii_b">
                        <label class="form-check-label" for="estadio_iii_b">
                            Estadio III B
                        </label>
                    </div>
                </div>
            </div>

            <!-- Boton -->
            <div class="d-flex justify-content-end">
                <button type="submit">Siguiente: Tratamiento Oncológico</button>
            </div>
            <!-- Boton -->
        </form>

        <!-- Seccion: Llenado por el PL -->
        <div class="container-xl">
            <hr>
            <br>
            <form class="row g-3 m-auto border px-5 py-3 bg-white">
                <div class="col-6">
                    <p>Firma:</p>
                </div>
                <div class="col-6">
                    <p>Fecha:</p>
                </div>
                <div class="col-12">
                    <p>Nombre:</p>
                </div>
                <div class="col-12">
                    <b><i><p>**Nota: Se recomienda que sea llenado por el PL.</p></i></b>
                </div>
            </form>
        </div>
        <!-- Seccion: Llenado por el PL -->

    </div>
    <!-- Formulario -->

    <!-- 0099ff a2d9ff A2F0FF-->

    <!-- Footer -->
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>
    <!-- Footer -->

</div>
<!-- Container -->