/* Form */
.form {
    height: 414px;
    /* overflow:hidden; */
    overflow-y: auto;
    overflow-x: hidden;
}

/* .form::-webkit-scrollbar {
    display: none;
} */

/* BOTONES */
.btn {
    transition: .5s;
}
.btn:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transition: .5s;
}

/* Estilo personalizado para el boton del formulario 1 */
.btn-f1 {
    transition: .5s;
}
.btn-f1:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transition: .5s;
}

.btn-pink {
    background: #ff6bdc;
}
.btn-pink:hover {
    background: #fa7ddd;
}

/* Footer */
footer {
    position: relative;
}

footer .wave {
    position: absolute;
    /* top: -100px; */
    top: 102px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../../../assets/img/wave.png");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}