<div class="d-flex flex-column justify-content-between vh-100" style="padding-top: 200px;">
    <!-- Formulario -->
    <div class="container" >
        <h2>Menú de navegación</h2>
        <hr>
        <br>
        <form action="">
            <input type="search" class="w-25 mb-3" placeholder="Buscar por numero de documento">
            <button type="submit">Buscar</button>
        </form>
        <form class="row g-3 px-1 form">

            <div class="col-md-12">
                <a href="/formulario1" class=" btn btn-f1 btn-success w-100 py-5" style="background-image: url('../../../assets/svg/i_groups_perspective_crowd.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    I. Datos Sociodemográficos de la Paciente
                </a>
            </div>
            <div class="col-md-4">
                <a href="/formulario2" class="btn btn-secondary w-100 py-5" style="background-image: url('../../../assets/svg/i_exam_multiple_choice.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    II. Datos Clínicos de la Paciente
                </a>
            </div>
            <div class="col-md-4">
                <a href="/formulario3" class="btn btn-primary w-100 py-5" style="background-image: url('../../../assets/svg/health_worker_form.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    III. Consentimientos Informados
                </a>
            </div>
            <div class="col-md-4">
                <a href="/formulario4" class="btn btn-warning w-100 py-5" style="background-image: url('../../../assets/svg/clinical_f.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    IV. Criterios de Selección / Sreening
                    <!-- IV. Datos Clínicos del Paciente -->
                </a>
            </div>
            <div class="col-md-4">
                <a href="/formulario5" class="btn btn-info w-100 py-5" style="background-image: url('../../../assets/svg/outpatient_department.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    V. Exámenes Complementarios
                </a>
            </div>
            <div class="col-md-4">
                <a href="/formulario6" class="btn btn-pink w-100 py-5" style="background-image: url('../../../assets/svg/oncology.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    VI. Tratamiento Oncológico
                </a>
            </div>
            <div class="col-md-4">
                <a href="/formulario7" class="btn btn-danger w-100 py-5" style="background-image: url('../../../assets/svg/blood_a_p.svg'); background-repeat: no-repeat; background-position-y: 10px; background-position-x: -30px; background-size: 140px;">
                    VII. Ciclos de Tratamiento Quimioterápico
                </a>
            </div>
        </form>
    </div>
    <!-- Formulario -->

    <!-- Footer -->
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>
    <!-- Footer -->
</div>