<app-navbar></app-navbar>

<!-- Container -->
<div>
    <!-- Header -->
    <div class="container-xl">
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">PROTOCOLO:</b> PERFIL INFLAMATORIO EN PACIENTES CON CÁNCER DE MAMA Y SU ASOCIACIÓN CON EL VALOR PRONÓSTICO DE LA ENFERMERDAD</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">FORMATO N° 007:</b> CICLOS DE TRATAMIENTO QUIROPRÁCTICO</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">VERSIÓN:</b> 001</h5>
        </div>
        <br>
        <hr>
    </div>
    <!-- Header -->

    <br>

    <!-- Formulario -->
    <div class="container-xl" style="margin-bottom: 200px;">

        <form class="w-75 m-auto mb-5">
            <h3>DATOS DE IDENTIFICACIÓN</h3>
            <div class="col mb-4">
                <div class="d-flex align-items-center gap-4">
                    <div class="group-input d-flex">
                        <input type="text" class="input" [(ngModel)]="datos.iniciales_paciente" name="iniciales_paciente" style="pointer-events: none;" disabled required>
                        <label for="" class="label" style="top: 25%; font-size: 12px;">Iniciales de la paciente</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" [(ngModel)]="datos.numero_hc" name="numero_hc" style="pointer-events: none;" disabled required>
                        <label for="" class="label" style="top: 25%; font-size: 12px;">Número de HC</label>
                    </div>
                </div>

                <h3 class="mb-3">Centro o Institución de atención</h3>
                <div class="d-flex justify-content-between mb-4">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_lima" value="INEN LIMA" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer; pointer-events: none;" readonly>
                        <label class="form-check-label" for="centro_institucion_atencion_inen_lima" style="cursor: pointer; pointer-events: none; user-select: none;">INEN LIMA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_arequipa" value="INEN AREQUIPA" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer; pointer-events: none;" readonly>
                        <label class="form-check-label" for="centro_institucion_atencion_inen_arequipa" style="cursor: pointer; pointer-events: none; user-select: none;">INEN AREQUIPA</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="centro_institucion_atencion" id="centro_institucion_atencion_inen_trujillo" value="INEN TRUJILLO" [(ngModel)]="datos.centro_institucion_atencion" style="cursor: pointer; pointer-events: none;" readonly>
                        <label class="form-check-label" for="centro_institucion_atencion_inen_trujillo" style="cursor: pointer; pointer-events: none; user-select: none;">INEN TRUJILLO</label>
                    </div>
                </div>
            </div>

            <h3 class="mb-4">TRATAMIENTO:</h3>
            <div class="col mb-4">

                <!-- TABLA TRATAMIENTO -->
                <table class="w-100">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">ESQUEMA DEL TRATAMIENTO</th>
                        </tr>
                        <tr>
                            <th class="text-center">MEDICAMENTO</th>
                            <th class="text-center">DOSIS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_1" name="tratamiento_medicamento_1" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_1" name="tratamiento_dosis_1" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>2. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_2" name="tratamiento_medicamento_2" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_2" name="tratamiento_dosis_2" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>3. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_3" name="tratamiento_medicamento_3" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_3" name="tratamiento_dosis_3" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>4. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_4" name="tratamiento_medicamento_4" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_4" name="tratamiento_dosis_4" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>5. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_5" name="tratamiento_medicamento_5" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_5" name="tratamiento_dosis_5" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>6. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_6" name="tratamiento_medicamento_6" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_6" name="tratamiento_dosis_6" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>7. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_7" name="tratamiento_medicamento_7" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_7" name="tratamiento_dosis_7" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>8. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_8" name="tratamiento_medicamento_8" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_8" name="tratamiento_dosis_8" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>9. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_9" name="tratamiento_medicamento_9" style="width: 96%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_9" name="tratamiento_dosis_9" style="width: 100%; outline: none;"></td>
                        </tr>
                        <tr>
                            <td>10. <input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar medicamento" [(ngModel)]="datos.tratamiento_medicamento_10" name="tratamiento_medicamento_10" style="width: 94%; outline: none;"></td>
                            <td><input type="text" class="py-2 border-0 bg-transparent" placeholder="Ingresar dosis" [(ngModel)]="datos.tratamiento_dosis_10" name="tratamiento_dosis_10" style="width: 100%; outline: none;"></td>
                        </tr>
                    </tbody>
                </table>
                <!-- TABLA TRATAMIENTO -->
                
                <div class="d-flex align-items-center gap-3 mb-5">
                    <label for="startDate">FECHA DEL TRATAMIENTO:</label>
                    <input type="date" class="form-control py-3 w-25" id="startDate" [(ngModel)]="datos.fecha_tratamiento" name="fecha_tratamiento">
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ciclo" id="ciclo_1" value="CICLO 01" [(ngModel)]="datos.ciclo" (change)="toggleEvaluacion()" onclick="removerHidden()" style="cursor: pointer;">
                            <label class="form-check-label" for="ciclo_1" style="cursor: pointer;">CICLO 01</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ciclo" id="ciclo_2" value="CICLO 02" [(ngModel)]="datos.ciclo" (change)="toggleEvaluacion()" onclick="removerHidden()" style="cursor: pointer;">
                            <label class="form-check-label" for="ciclo_2" style="cursor: pointer;">CICLO 02</label>
                        </div>
                        <div class="form-check form-check-inline" style="padding: 5px 5px 5px 30px; background-color: #FFCDFA; border-radius: 4px;">
                            <input class="form-check-input" type="radio" name="ciclo" id="ciclo_3" value="CICLO 03" [(ngModel)]="datos.ciclo" (change)="toggleEvaluacion()" onclick="removerHidden()" style="cursor: pointer;">
                            <label class="form-check-label" for="ciclo_3" style="cursor: pointer;">CICLO 03</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ciclo" id="ciclo_4" value="CICLO 04" [(ngModel)]="datos.ciclo" (change)="toggleEvaluacion()" onclick="removerHidden()" style="cursor: pointer;">
                            <label class="form-check-label" for="ciclo_4" style="cursor: pointer;">CICLO 04</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="ciclo" id="ciclo_5" value="CICLO 05" [(ngModel)]="datos.ciclo" (change)="toggleEvaluacion()" onclick="removerHidden()" style="cursor: pointer;">
                            <label class="form-check-label" for="ciclo_5" style="cursor: pointer;">CICLO 05</label>
                        </div>
                        <div class="form-check form-check-inline" style="padding: 5px 5px 5px 30px; background-color: #FFCDFA; border-radius: 4px;">
                            <input class="form-check-input" type="radio" name="ciclo" id="ciclo_6" value="CICLO 06" [(ngModel)]="datos.ciclo" (change)="toggleEvaluacion()" onclick="removerHidden()" style="cursor: pointer;">
                            <label class="form-check-label" for="ciclo_6" style="cursor: pointer;">CICLO 06</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column my-4">
                    <div class="d-flex justify-content-between mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tolerancia" id="buena_tolerancia" value="BUENA TOLERANCIA" [(ngModel)]="datos.tolerancia" style="cursor: pointer;">
                            <label class="form-check-label" for="buena_tolerancia" style="cursor: pointer;">BUENA TOLERANCIA</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tolerancia" id="no_buena_tolerancia" value="NO BUENA TOLERANCIA" [(ngModel)]="datos.tolerancia" style="cursor: pointer;">
                            <label class="form-check-label" for="no_buena_tolerancia" style="cursor: pointer;">NO BUENA TOLERANCIA</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4 hidden" id="evaluacion_respuesta_tratamiento" [ngClass]="{ 'hidden': !mostrarEvaluacion }">
                <div class="d-flex align-items-center gap-2 mb-4">
                    <div style="width: 50px; height: 30px; background: #FFCDFA; border-radius: 4px;"></div>
                    <span>En caso de estar coloreada la casilla , PREVIAMENTE evaluar:</span>
                </div>
            <!-- <div class="col mb-4" id="evaluacion_respuesta_tratamiento"> -->
                <h3 class="mb-4">EVALUACIÓN DE RESPUESTA AL TRATAMIENTO:</h3>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="evaluacion_respuesta_tratamiento" id="respuesta_completa" value="RESPUESTA COMPLETA" [(ngModel)]="datos.evaluacion_respuesta_tratamiento" style="cursor: pointer;">
                            <label class="form-check-label" for="respuesta_completa" style="cursor: pointer;">RESPUESTA COMPLETA</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="evaluacion_respuesta_tratamiento" id="respuesta_parcial" value="RESPUESTA PARCIAL" [(ngModel)]="datos.evaluacion_respuesta_tratamiento" style="cursor: pointer;">
                            <label class="form-check-label" for="respuesta_parcial" style="cursor: pointer;">RESPUESTA PARCIAL</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-between mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="evaluacion_respuesta_tratamiento" id="enfermedad_estable" value="ENFERMEDAD ESTABLE" [(ngModel)]="datos.evaluacion_respuesta_tratamiento" style="cursor: pointer;">
                            <label class="form-check-label" for="enfermedad_estable" style="cursor: pointer;">ENFERMEDAD ESTABLE</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="evaluacion_respuesta_tratamiento" id="progresion" value="PROGRESIÓN" [(ngModel)]="datos.evaluacion_respuesta_tratamiento" style="cursor: pointer;">
                            <label class="form-check-label" for="progresion" style="cursor: pointer;">PROGRESIÓN</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Boton -->
            <!-- <div class="d-flex justify-content-end">
                <button type="submit">Siguiente: Datos clínicos</button>
            </div> -->
            <!-- Boton -->
        <!-- </form> -->

        <!-- Seccion: Llenado por el PL -->
        <br>
        <hr>
        <br>
        <br>
        <div class="row g-3 m-auto border px-5 py-3 mb-5 bg-white">
            <!-- <form class="row g-3 m-auto border px-5 py-3 bg-white" enctype="multipart/form-data"> -->
                <!-- <div class="col-6">
                    <p>Firma:</p>
                </div>
                <div class="col-6">
                    <p>Fecha:</p>
                </div>
                <div class="col-12">
                    <p>Nombre:</p>
                </div> -->
                <div class="col-6 d-flex align-items-center justify-content-between mb-3">
                    <label for="startDate" class="form-label">Nombre:</label>
                    <input type="text" class="form-control py-3" id="startDate" [(ngModel)]="datos.nombre" name="nombre" style="width: 86%; pointer-events: none; user-select: none;" disabled required>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-between mb-3">
                    <label for="formFile" class="form-label">Firma:</label>
                    <input type="text" class="form-control py-3" id="startDate" [(ngModel)]="datos.firma" name="firma" style="width: 86%; pointer-events: none; user-select: none;" disabled required>
                    <!-- <input class="form-control" type="file" id="formFile" name="imagen" (change)="onSelectFile($event)" style="width: 86%;"> -->
                </div>
                <div class="col-6 d-flex align-items-center justify-content-between mb-3">
                    <label for="startDate" class="form-label">Fecha:</label>
                    <input type="date" class="form-control py-3" id="startDate" [(ngModel)]="datos.fecha" name="fecha" style="width: 86%; pointer-events: none; user-select: none;" disabled required>
                </div>
                
                <div class="col-12">
                    <b><i><p>**Nota: Se recomienda que sea llenado por el investigador principal.</p></i></b>
                </div>
            <!-- </form> -->
        </div>
        <!-- Boton -->
        <div class="d-flex justify-content-end">
            <button type="submit"(click)="registrarForm7()">{{ esModoEdicion ? 'Actualizar' : 'Registrar y Volver: Menú de navegación'}}</button>
        </div>
        <!-- Boton -->
        </form>
        <!-- Seccion: Llenado por el PL -->

    </div>
    <!-- Formulario -->

    <!-- 0099ff a2d9ff A2F0FF-->

    <!-- Footer -->
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>
    <!-- Footer -->

</div>
<!-- Container -->