<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- Container -->
<div>
    <!-- Header -->
    <div class="container-xl">
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">PROTOCOLO:</b> PERFIL INFLAMATORIO EN PACIENTES CON CÁNCER DE MAMA Y SU ASOCIACIÓN CON EL VALOR PRONÓSTICO DE LA ENFERMERDAD</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">FORMATO N° 001:</b> DATOS SOCIODEMOGRÁFICOS DE LA PACIENTE</h5>
        </div>
        <div class="border p-3 bg-white">
            <h5 style="font-weight: 350;"><b style="font-weight: 500;">VERSIÓN:</b></h5>
        </div>
        <br>
        <hr>
    </div>
    <!-- Header -->

    <br>

    <!-- Formulario -->
    <div class="container-xl" style="margin-bottom: 200px;">

        <form class="w-75 m-auto">
            <h3>DATOS DEL PACIENTE</h3>
            <div class="d-flex">
                
                <!-- Columna Izq. -->
                <div class="col me-3 mb-4">
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Iniciales Paciente</label>
                    </div>
                    <div class="form-floating w-100">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>DNI</option>
                            <option value="1">Carnet de extranjería</option>
                            <option value="2">Otros (Pasaporte)</option>
                        </select>
                        <label for="floatingSelect">Tipo de Documento</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Celular</label>
                    </div>
                    <div class="form-floating mb-3 w-100">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Lima</option>
                            <option value="1">Arequipa</option>
                            <option value="2">Trujillo</option>
                            <option value="3">Otros</option>
                        </select>
                        <label for="floatingSelect">Ciudad donde reside</label>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="group-input d-flex m-0 w-100">
                            <input type="text" class="input" required>
                            <label for="" class="label">Edad de la paciente</label>
                        </div>
                        <div class="form-floating ms-3 w-100">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                                <option selected>Casada</option>
                                <option value="1">Conviviente</option>
                                <option value="1">Soltera</option>
                                <option value="1">Separada</option>
                                <option value="1">Viuda</option>
                                <option value="1">Divorciada</option>
                            </select>
                            <label for="floatingSelect">Estado Civil</label>
                        </div>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Número de Gestaciones o embarazos</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="height: 60px; margin: 20px 0;">
                        <div>
                            <span style="margin-bottom: .125rem;">Uso de anticonceptivos:</span>
                            <div class="d-flex justify-content-between">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anticonceptivos" id="anticonceptivos_si" value="option1" style="cursor: pointer;">
                                    <label class="form-check-label" for="anticonceptivos_si" style="cursor: pointer;">Sí</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="anticonceptivos" id="anticonceptivos_no" value="option2" style="cursor: pointer;">
                                    <label class="form-check-label" for="anticonceptivos_no" style="cursor: pointer;">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="group-input d-flex w-50">
                            <input type="text" class="input" required>
                            <label for="" class="label">Tiempo (meses)</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="height: 60px; margin: 20px 0;">
                        <span style="margin-bottom: .125rem;">Antecedente Familiar de Cáncer de Mama:</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cancer_mama" id="cancer_mama_si" value="option1" style="cursor: pointer;">
                            <label class="form-check-label" for="cancer_mama_si" style="cursor: pointer;">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cancer_mama" id="cancer_mama_no" value="option2" style="cursor: pointer;">
                            <label class="form-check-label" for="cancer_mama_no" style="cursor: pointer;">No</label>
                        </div>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Ocupación</label>
                    </div>
                    <div class="form-floating w-100" style="height: 60px; margin: 20px 0;">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Analfabeto</option>
                            <option value="1">Primaria</option>
                            <option value="1">Secundaria</option>
                            <option value="1">Superior o Técnica</option>
                            <option value="1">Superior Universitaria</option>
                        </select>
                        <label for="floatingSelect">Nivel Educativo</label>
                    </div>
                    <!-- <div class="form-floating" style="height: 60px; margin: 20px 0;">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Antecedentes de Patologías Crónicas y Síndrome Metabólico</label>
                    </div> -->
                    <div class="group-textarea d-flex">
                        <!-- <input type="text" class="input" required> -->
                        <textarea name="" id="patologia_sindrome" cols="30" rows="7" class="textarea" required></textarea>
                        <label for="patologia_sindrome" class="label_textarea">Antecedentes de Patologías Crónicas y Síndrome Metabólico</label>
                    </div>
                </div>
                <!-- Columna Izq. -->

                <!-- Columna Der. -->
                <div class="col ms-4 mb-4">
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Número de HC</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Número de documento</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Correo electrónico</label>
                    </div>
                    <!-- <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Centro o Institución de atención</label>
                    </div> -->
                    <div class="form-floating mb-3 w-100">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>INEN LIMA</option>
                            <option value="1">INEN AREQUIPA</option>
                            <option value="2">INEN TRUJILLO</option>
                        </select>
                        <label for="floatingSelect">Centro o Institución de atención</label>
                    </div>
                    <div class="group-input d-flex">
                        <input type="text" class="input" required>
                        <label for="" class="label">Número de Hijos</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="height: 60px; margin: 20px 0;">
                        <span style="margin-bottom: .125rem;">Lactancia:</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="lactancia" id="lactancia_si" value="option1" style="cursor: pointer;">
                            <label class="form-check-label" for="lactancia_si" style="cursor: pointer;">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="lactancia" id="lactancia_no" value="option2" style="cursor: pointer;">
                            <label class="form-check-label" for="lactancia_no" style="cursor: pointer;">No</label>
                        </div>
                        <div class="group-input d-flex w-50">
                            <input type="text" class="input" required>
                            <label for="" class="label">Tiempo (meses)</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="height: 60px; margin: 20px 0;">
                        <span style="margin-bottom: .125rem;">Antecedente Familiar de Cáncer:</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cancer" id="cancer_si" value="option1" style="cursor: pointer;">
                            <label class="form-check-label" for="cancer_si" style="cursor: pointer;">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="cancer" id="cancer_no" value="option2" style="cursor: pointer;">
                            <label class="form-check-label" for="cancer_no" style="cursor: pointer;">No</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center" style="height: 60px; margin: 20px 0;">
                        <span style="margin-bottom: .125rem;">Trabaja:</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trabaja" id="trabaja_si" value="option1" style="cursor: pointer;">
                            <label class="form-check-label" for="trabaja_si" style="cursor: pointer;">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trabaja" id="trabaja_no" value="option2" style="cursor: pointer;">
                            <label class="form-check-label" for="trabaja_no" style="cursor: pointer;">No</label>
                        </div>
                        <div class="form-floating w-50">
                            <input id="startDate" class="form-control" type="date" />
                            <label for="floatingSelect">Fecha de Nacimiento</label>
                        </div>
                    </div>
                    <div class="form-floating w-100">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Aymara</option>
                            <option value="1">Blanco</option>
                            <option value="1">Mestizo</option>
                            <option value="1">Nativo o Indígena de la Amazonía</option>
                            <option value="1">Negro/Moreno/Zambo/Mulato/Afroperuano</option>
                            <option value="1">Quechua</option>
                            <option value="1">Perteneciente o parte de otro pueblo indígena u originario</option>
                        </select>
                        <label for="floatingSelect">Raza o Grupo Étnico</label>
                    </div>
                    <div class="my-3">
                        <span style="margin-bottom: .125rem;">Datos Antropométricos:</span>
                        <div class="d-flex justify-content-between">
                            <div class="group-input d-flex w-100">
                                <input type="text" class="input" required>
                                <label for="" class="label">Peso (kg)</label>
                            </div>
                            <div class="group-input d-flex w-100">
                                <input type="text" class="input" required>
                                <label for="" class="label">Talla (cm)</label>
                            </div>
                            <div class="group-input d-flex w-100">
                                <input type="text" class="input" required>
                                <label for="" class="label">Cintura Abdominal (cm)</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-floating" style="height: 60px; margin: 20px 0;">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Signos Vitales</label>
                    </div> -->
                    
                    <div class="my-3">
                        <span style="margin-bottom: .125rem;">Signos Vitales</span>
                        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
                            <label for="startDate">Frecuencia cardiaca:</label>
                            <input type="text" class="form-control py-3" style="width: 180px;" id="startDate">
                            <label>Ipm</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
                            <label for="startDate">Presión arterial:</label>
                            <input type="text" class="form-control py-3" style="width: 180px;" id="startDate" placeholder="ejm: 10 / 20">
                            <label>mmHg</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
                            <label for="startDate">Frecuencia respiratoria:</label>
                            <input type="text" class="form-control py-3" style="width: 180px;" id="startDate">
                            <label>RPM</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
                            <label for="startDate">Temperatura:</label>
                            <input type="text" class="form-control py-3" style="width: 180px;" id="startDate">
                            <label>°C</label>
                        </div>
                    </div>
                </div>
                <!-- Columna Der. -->
                
            </div>

            <!-- Boton -->
            <div class="d-flex justify-content-end">
                <button type="submit">Siguiente: Criterios de Selección</button>
            </div>
            <!-- Boton -->
        </form>

    </div>
    <!-- Formulario -->

    <!-- 0099ff a2d9ff A2F0FF-->

    <!-- Footer -->
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </footer>
    <!-- Footer -->

</div>
<!-- Container -->